.nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    font-size: 10px;
    font-weight: 900;
    /*сбрасываю браузерские настройки*/
    padding-inline-start: 0px;
}

@media screen and (max-width: 756px) {
    .nav-list {
        flex-direction: column;
        font-size: 15px;
    }
}