.blok-25-base {
    flex-basis: 25%;
}

@media screen and (min-width: 757px) and (max-width: 1024px) {
    .blok-25-base {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 756px) {
    .blok-25-base {
        flex-basis: 100%;
    }
}