header{
    background: rgba(255, 255, 255, 0);
    position: absolute;
    left: 0;
    right: 0;
}



body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: cadetblue; */
}

.set-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*align-content: stretch;*/
}

p {
    margin: 0px;
}

div {
    box-sizing: border-box;
    /*border: 5px solid black;*/
    /* outline: 1px solid black; */
    /* background: cadetblue; */
}

.blok-header{
    flex-basis: 50%;
}

.blok_1 {
    flex-basis: 50%;
    height: 600px;
    /* min-width: 400px; */
    /* flex-grow: 2; */
    background-image: url(images/5.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    /* background-size: auto 100%; */
    background-size: cover;
    order: 0;
}

.blok_2 {
    flex-basis: 50%;
    height: 600px;
    background-color: #f0e2d7;
    /* min-width: 400px; */
    /* flex-grow: 2; */
    order: 1;
}

.blok_3 {
    flex-basis: 50%;
    height: 300px;
    background-color: #ffffff;
    /* min-width: 400px; */
    /* flex-grow: 2; */
    order: 2;
}

.blok_4 {
    flex-basis: 25%;
    height: 300px;
    /* min-width: 200px; */
    /* flex-grow: 2; */
    background-image: url(images/1.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    /* background-size: auto 170%; */
    background-size: cover;
    order: 3;
}

.blok_5 {
    flex-basis: 25%;
    height: 300px;
    background-color: #e4ae58;
    /* min-width: 200px; */
    /* flex-grow: 2; */
    order: 4;
}

.blok_6 {
    flex-basis: 25%;
    height: 300px;
    background-color: #e4ae58;
    /* min-width: 200px; */
    /* flex-grow: 2; */
    order: 5;
}

.blok_7 {
    flex-basis: 25%;
    height: 300px;
    background-color: #e9714c;
    /* min-width: 200px; */
    /* flex-grow: 2; */
    order: 6;
}

.blok_8 {
    flex-basis: 25%;
    height: 300px;
    background-color: #161616;
    /* min-width: 200px; */
    /* flex-grow: 2; */
    order: 7;
}

.blok_9 {
    flex-basis: 25%;
    height: 300px;
    background-color: #ffffff;
    /* min-width: 200px; */
    /* flex-grow: 2; */
    order: 8;
}

.blok_10 {
    flex-basis: 50%;
    height: 350px;
    /* min-width: 400px; */
    /* flex-grow: 2; */
    background-image: url(images/4.jpg);
    background-repeat: no-repeat;
    /* background-position: center top; */
    background-size: cover;
    background-size: 140% auto;
    order: 9;
}

.blok_11 {
    flex-basis: 50%;
    height: 350px;
    background-color: #e9714c;
    /* min-width: 400px; */
    /* flex-grow: 2; */
    order: 10;
}

.blok_12 {
    flex-basis: 50%;
    height: 350px;
    background-color: #e4ae58;
    /* min-width: 400px; */
    /* flex-grow: 2; */
    order: 11;
}

.blok_13 {
    flex-basis: 50%;
    height: 350px;
    /* min-width: 400px; */
    /* flex-grow: 2; */
    background-image: url(images/3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-size: 140% auto; */
    background-size: cover;
    order: 12;
}

.blok_14 {
    flex-basis: 100%;
    height: 350px;
    /* flex-grow: 2;  */
    background-image: url(images/6.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-size:  100% auto; */
    background-size: cover;
    /* filter: contrast(50%); */
    /* filter: brightness(40%); */
    order: 13;
}

.blok_15 {
    flex-basis: 50%;
    height: 600px;
    background-color: #e9714c;
    /* min-width: 400px; */
    /* flex-grow: 2; */
    order: 14;
}

.blok_16 {
    flex-basis: 25%;
    height: 600px;
    background-color: #161616;
    /* min-width: 200px; */
    /* flex-grow: 2; */
    background-image: url(images/2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-size: auto 100%; */
    background-size: cover;
    order: 15;
}

.blok_17 {
    flex-basis: 25%;
    height: 600px;
    background-color: #161616;
    /* min-width: 200px; */
    /* flex-grow: 2; */
    order: 16;
}

.blok_18 {
    flex-basis: 100%;
    height: 400px;
    background-color: #ffffff;
    /* flex-grow: 2; */
    order: 17;
}

.pad{
    padding: 0px 10px;
}   

.spisok {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    justify-content: center;
    /* color: dimgray; */
    margin-top: 25px;
    /* margin: 20px 5%; */
    /* line-height: 1.5; */
    font-size: 10px;
    /* font-family: 'Times New Roman', Times, serif; */
    font-weight: 900;
    padding-inline-start: 0px;
    /*сбрасываю браузерские настройки*/
}

.str {
    list-style-type: none;
    
}




/* li:nth-child(1){
    color: #e4ae58;
} */

.link {
    text-decoration: none;
    /* Убираем подчёркивание */
    color: dimgray;
}
.gold-link:hover{
    color: #e4ae58;
    
}


.but1 {
    padding: 10px 30px;
    background: #f0e2d7;
    margin: 20px 5%;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 8pt;
    font-weight: 700;
}

/* .pad {
    padding: 0px 10px;
} */