.fa-desktop, .fa-paper-plane-o, .fa-table, .fa-star {
    color: white;
}

.fa-phone, .fa-envelope-o, .fa-globe {
    padding-right: 10px;
}

.blok_1_text {
    /* font-family:serif; */
    font-size: 18px;
    font-weight: 900;
    text-shadow: 01px 1px 0px white;
    /* margin-left: 25%; */
    padding-left: 15%;
    margin-top: 18px;
}

.blok_2_text_welcome {
    color: dimgray;
    margin: 20px 5%;
    line-height: 1.5;
    font-size: 8pt;
    padding-top: 120px;
}

.blok_2_text_hello {
    color: rgba(0, 0, 0, 0.6);
    margin: 20px 5%;
    line-height: 1.2;
    font-size: 25pt;
}

.blok_3_text_big {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 30px;
    color: rgba(0, 0, 0, 0.6);
    margin-left: 5%;
    margin-top: 30px;
}

.blok_3_text_small_cvet {
    color: #e4ae58;
    margin-left: 5%;
    margin-top: 18px;
    margin-bottom: 30px;
}

.blok_3_text_small {
    color: dimgray;
    margin: 20px 5%;
    line-height: 1.5;
    ;
}

.blok_5_text_big {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 30px;
    color: white;
    margin-left: 10%;
    margin-top: 30px;
}

.blok_5_text_small {
    color: white;
    margin-left: 10%;
    margin-top: 18px;
    margin-bottom: 30px;
}

.blok_678_icon {
    text-align: center;
    margin-top: 50px;
    ;
}

.blok_678_text_big {
    text-align: center;
    font-size: 25px;
    color: white;
    margin-top: 25px;
}

.blok_678_text_small {
    text-align: center;
    line-height: 1.5;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 18px;
}

.blok_9_text_big {
    text-align: center;
    font-size: 25px;
    margin-top: 25px;
}

.blok_9_text_small {
    text-align: center;
    line-height: 1.5;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 18px;
}

.blok_11_12_15_text_big {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 30px;
    color: white;
    margin-left: 7%;
    margin-top: 5%;
}

.blok_11_12_15_text_small {
    color: white;
    margin-left: 7%;
    margin-top: 18px;
    margin-bottom: 35px;
}

.blok_14_text {
    /* margin-top: 50px; */
    padding-top: 7%;
    text-align: center;
    font-size: 30px;
    line-height: 1.5;
    color: white;
}

.blok_14_fon {
    vertical-align: top;
    /* margin: 0; */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.blok_14_text_small {
    color: dimgray;
    line-height: 1.5;
    text-align: center;
    /* margin-left: 5%;
    margin-right: 5%;*/
    margin-top: 18px;
}

.table1 {
    /* border: 1px solid black; */
    margin-left: 10%;
    /* margin-right: 10%; */
    width: 80%;
    font-weight: 600;
    border-spacing: 0px;
}

.name_1_1 {
    color: black;
    width: 90%;
    /* padding-top: 20px; */
    border-bottom: 2px solid black;
}

.num_1_1 {
    color: white;
    text-align: right;
    /* padding-top: 20px; */
    border-bottom: 2px solid white;
}

.name_1_2 {
    color: black;
    width: 70%;
    padding-top: 20px;
    border-bottom: 2px solid black;
}

.num_1_2 {
    color: white;
    text-align: right;
    padding-top: 20px;
    border-bottom: 2px solid white;
}

.name_1_3 {
    color: black;
    width: 80%;
    padding-top: 20px;
    border-bottom: 2px solid black;
}

.num_1_3 {
    color: white;
    text-align: right;
    padding-top: 20px;
    border-bottom: 2px solid white;
}

.table2 {
    /* border: 1px solid black; */
    color: white;
    margin-left: 7%;
    margin-right: 5%;
    margin-top: 20px;
    /* margin-right: 10%; */
    /* width: 70%; */
    /* font-weight: 600; */
    border-spacing: 0px;
}

.table_2_icon {
    width: 40pt;
    /* align-content: left top; */
    /* text-align:; */
    vertical-align: top;
}

.table_2_text_big {
    font-size: 22px;
}

.table_2_text_big_bold {
    font-size: 14px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.6);
}

.table_2_text_small {
    /* margin-top: 120px; */
    padding-top: 10px;
    line-height: 1.5;
}

input::placeholder, textarea::placeholder {
    color: white;
}

input, textarea {
    outline: none;
    color: white;
    background: rgba(255, 255, 255, 0);
}

.blok_15_area_1 {
    height: 150px;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 30px;
    padding-left: 15px;
    width: 80%;
    border: 0;
    border-bottom: 1px solid #e4ae58;
}

.blok_15_pole_1 {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 30px;
    height: 30px;
    padding-left: 15px;
    width: 80%;
    /* background: rgba(255, 255, 255, 0); */
    border: 0;
    border-bottom: 1px solid #e4ae58;
}

.but2 {
    margin-left: 10%;
    padding: 10px 15%;
    color: black;
    background: white;
    border: 0;
    border-radius: 20px;
}

.blok_17_text_big {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 25px;
    color: white;
    margin-left: 13%;
    margin-top: 40px;
}

.blok_17_text_small_cvet {
    color: #e4ae58;
    /* margin-left: 5%;
    margin-top: 18px;
    margin-bottom: 30px; */
}

.blok_17_text_small {
    color: dimgray;
    ;
    margin: 20px 0 20px 13%;
    line-height: 1.5;
    font-size: 14px;
}

.blok_18_text_small_cvet {
    color: #e4ae58;
}

.blok_18_text_small {
    color: dimgray;
    text-align: center;
    margin-top: 150px;
    line-height: 1.5;
    font-size: 16px;
}

.blok_18_links {
    padding-inline-start: 0px;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    justify-content: center;
    /* color: dimgray; */
    margin-top: 50px;
    /* margin: 20px 5%; */
    /* line-height: 1.5; */
    font-size: 15px;
    /* font-family: 'Times New Roman', Times, serif; */
    font-weight: 100;
}

.blok_18_links_cell {
    padding: 0 25px;
}