body{
   background: darksalmon;
   /*margin-left: 050%;*/
   text-align: center;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 150%;
}
div:nth-child(odd){
    color: rgb(13, 17, 235);
}
div:nth-child(even){
    color: rgb(77, 220, 20);
}
div:nth-child(3n){
    text-decoration: underline;

}
div:nth-child(3n+1){
    text-shadow: 4px 4px 1px black;         
}