@media screen and (min-width: 650px) and (max-width: 900px) {
    .blok_1, .blok_2, .blok_3, .blok_10, .blok_11, .blok_12, .blok_13, .blok_15 {
        flex-basis: 100%;
    }
    .blok_4, .blok_5, .blok_6, .blok_7, .blok_8, .blok_9, .blok_16, .blok_17 {
        flex-basis: 50%;
    }
    .blok_12 {
        order: 12;
    }
    .blok_13 {
        order: 11;
    }
    /* .blok-header{
        flex-basis: 40%;
    } */
    
    .pad {
        padding: 0px 5px;
    }
}

@media screen and (max-width: 650px) {
    /* .blok_1, .blok_2,.blok_3,
    .blok_10,.blok_11,.blok_12,
    .blok_13,.blok_15 {
        flex-basis: 100%;
    } */
    .set-flex {
        flex-direction: column;
    }
    .blok_4, .blok_5, .blok_6, .blok_7, .blok_8, .blok_9, .blok_16, .blok_17 {
        flex-basis: 100%;
    }
    .blok_12 {
        order: 12;
    }
    .blok_13 {
        order: 11;
    }
    /* .blok_14 {
        background-size: auto 100%;
    }  */
    /* .blok-header{
        flex-basis: 50%;
    } */
    /* .pad {
        padding: 100px 55px;
    } */
}